html, body {
  margin: 0;
  padding: 0;
}

.background {
  background: url(../images/Hintergrund@2x.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logobox {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 402;
  pointer-events: none;
}

.logo {
  width: 8em;
  transform: translateY(-80%);
  pointer-events: all;
  z-index: 403
}

.logocontainer a {
  z-index: 403;
}

.logo img {
  z-index: 403;
}


/* Wide Menu */

.menubox {
  position: fixed;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 400;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 80%;
  max-width: 1000px;
  z-index: 401;
}

.menu a {
  display: none;
  text-decoration: none;
  color: #FFFCEF;
  z-index: 402;
  font-family: "HalisGR-Medium", sans-serif;
  font-size: 0.9em;
}

@media screen and (min-width: 1024px) {
  .menu a {
    font-size: 1em;
  }
}

@media screen and (min-width: 1440px) {
  .menu a {
    font-size: 1.1em;
  }
}

.space {
  width: 100px;
}


/* Responsive Menu */

.menuresponsive {
  display: none;
  position: absolute;
  width: 200px;
  height: auto;
  top: 120px;
  right: 10px;
  background-color: rgb(62, 73, 66);
  background-color: rgba(62, 73, 66, 0.92);
  padding: 20px 10px;
  z-index: 900;
  font-family: "HalisGR-Medium", sans-serif;
  font-size: 0.9em;
}

.menuresponsive a {
  display: block;
  text-align: left;
  color: #FFFCEF;
  padding: 20px;
  text-decoration: none;
  font-size: 16px;
}

.icon {
  display: none;
  position: fixed;
  top: 30px;
  right: 20px;
  color: #FFFCEF;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  font-size: 26px;
}

@media screen and (min-width: 750px) {
  .icon {
    opacity: 0;
    pointer-events: none;
  }
}

@media screen and (max-width: 750px) {
  .menu {
    display: none;
  }
  .icon {
    display: none;
  }
  .icon.responsive {
    color: black;
  }
  .menuresponsive.responsive {
    display: block;
    z-index: 900;
  }
  .menuresponsive.responsive a:hover {
    background-color: #3c474d;
  }
}


/* Animations */

.animated {
  animation-name: backgroundmove;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.animatedlogo {
  animation-name: logomove;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.animatedlogowidth {
  animation-name: logoscale;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes backgroundmove {
  0% {}
  100% {
    transform: translateY(-80%)
  }
}

@keyframes logomove {
  0% {}
  100% {
    transform: translateY(-40%)
  }
}

@keyframes logoscale {
  0% {}
  100% {
    transform: scaleX(0.7) scaleY(0.7)
  }
}


/* Container Styling */

.content {
  box-sizing: border-box;
  z-index: -200;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  opacity: 0;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  width: 100%;
  height: calc(100% + 1px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content.visible {
  z-index: 200;
  opacity: 1;
}

.contentbox {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  max-width: 800px;
  padding: 10px;
}

.projectbox {
  max-width: 1000px;
  padding: 20px;
}

.textbox {
  float: left;
  box-sizing: border-box;
  width: 30%;
  padding: 0 20px 0 20px;
  font-size: 0.9em;
  font-family: "HalisGR-Regular", sans-serif;
}

.textbox h3 {
  padding-top: 0;
  margin-top: 0;
}

.textbox a {
  color: #67796D;
  text-decoration: none;
}

.picturebox {
  float: left;
  width: 70%;
}

.picturebox img {
  max-width: 100%;
  max-height: 70vh;
}

@media screen and (max-width: 750px) {
  .textbox {
    width: 100%;
    padding: 0;
  }
  .picturebox {
    width: 100%;
  }
}


/* Portfolio Styling */

.portfoliobox {
  width: 100%;
  max-width: 1000px;
}

.grid-sizer, .grid-item {
  width: 33%;
}

.grid-item--width2 {
  width: 66%;
}

.grid-item img {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.picturebox img {
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .grid-sizer, .grid-item {
    width: 100%;
  }
}


/* About Styling */

.maiketext {
  box-sizing: border-box;
  font-family: "HalisGR-Regular", sans-serif;
  font-size: 1em;
  text-align: left;
  padding: 10px;
}

.maiketext a {
  color: #67796D;
  text-decoration: none;
}

.maiketext h2 {
  margin: 0;
}

.maikebild img {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

/* Kontakt Styling */

.divinner {
  position: relative;
  float: left;
  width: 100%;
  padding-bottom: 10px;
  margin: 0;
}

@media (min-width: 750px) {
  .divinner {
    width: 50%;
  }
}

.ajaxform p {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -moz-margin-before: 1em;
  -moz-margin-after: 0;
  -moz-margin-start: 0;
  -moz-margin-end: 0;
  -o-margin-before: 1em;
  -o-margin-after: 0;
  -o-margin-start: 0;
  -o-margin-end: 0;
}

#contactd {
  font-family: "HalisGR-Regular", sans-serif;
  font-size: 1em;
  margin-top: 18px;
  text-align: left;
}

@media screen and (max-width: 750px) {
  #contactd {
    margin-top: 0;
  }
}

#contactd a {
  color: #67796D;
  text-decoration: none;
}

#contactf label {
  display: none;
}

.inputs {
  background-color: #CCC8BD;
  color: black;
  outline: none;
  border: 3px solid rgb(204, 204, 204);
  border: 3px solid rgba(204, 204, 204, 0);
  -webkit-transition: 0.5s;
  -o-transition: 0.5;
  -moz-transition: 0.5;
  transition: 0.5s;
}

.inputs:focus {
  border: 3px solid #555555;
}

.shorti {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

#message {
  resize: none;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.antispam {
  display: none;
}

.fadein {
  box-sizing: border-box;
  display: none;
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 10px;
  left: 0;
  border-radius: 4px;
  z-index: 400;
  padding: 10px;
}

.fadecenter {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#popup2 {
  background-color: #af5962;
  color: white;
}

#popup1 {
  background-color: #69b485;
  color: white;
}

@media all and (min--moz-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  .fadein {
    bottom: 20px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .fadein {
    bottom: 20px;
  }
}

/* New IE Edge Browser "fix" */

@supports (-ms-ime-align: auto) {
  /* IE Edge 12+ CSS styles go here */ 
  .fadein {
    bottom: 20px;
  }
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #000000;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #000000;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #000000;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000000;
}

#sendbutton {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 40px;
  width: 100%;
  background-color: #67796D;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

#sendbutton:hover {
  background-color: #59665D;
}


/* Impressum Styling */

#ankermarke {
  display: inline;
  width: 20px;
  transform: translateY(28%);
}

.impressum {
  font-family: "HalisGR-Regular", sans-serif;
}
