html, body {
  margin: 0;
  padding: 0;
}

.background {
  background: url(../images/Hintergrund@2x.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: fixed;

  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 10em;
}
