@font-face {
	font-family: 'HalisGR-Medium';
	src: url('../../fonts/HalisGR-Medium/Ahmet Altun - HalisGR-Medium.eot');
	src: local('☺'), url('../../fonts/HalisGR-Medium/Ahmet Altun - HalisGR-Medium.woff') format('woff'), url('../../fonts/HalisGR-Medium/Ahmet Altun - HalisGR-Medium.ttf') format('truetype'), url('../../fonts/HalisGR-Medium/Ahmet Altun - HalisGR-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

