@font-face {
	font-family: 'HalisGR-Regular';
	src: url('../../fonts/HalisGR-Regular/Ahmet Altun - HalisGR-Regular.eot');
	src: local('☺'), url('../../fonts/HalisGR-Regular/Ahmet Altun - HalisGR-Regular.woff') format('woff'), url('../../fonts/HalisGR-Regular/Ahmet Altun - HalisGR-Regular.ttf') format('truetype'), url('../../fonts/HalisGR-Regular/Ahmet Altun - HalisGR-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

